{% extends 'base.html.twig' %}

{% block title %}Hello SouvenirController!{% endblock %}

{% block body %}
    <ul>
        <a href="{{ path('app_accueil') }}" alt="Retour à l'accueil">< Retour à l'accueil</a>
    </ul>
    <br>
    <ul>
        <h1>Galerie <img src="{{ asset('images/cliclic_1.svg') }}" alt="Camera"> </h1>
    </ul>
    <br>
    <ul>
        <img src="{{ asset('images/Souvenir_1.svg') }}" alt="Chien en tonte">  <img src="{{ asset('images/Souvenir_2.svg') }}" alt="Chien en coupe aux ciseaux"> <img src="{{ asset('images/Souvenir_3.svg') }}" alt="Chien entrain de se faire couper les griffes">
        <br>
        <img src="{{ asset('images/Souvenir_4.svg') }}" alt="Chien entrain de prendre son bain"> <img src="{{ asset('images/Souvenir_5.svg') }}" alt="Chien entrain de se faire sécher"> <img src="{{ asset('images/Souvenir_6.svg') }}" alt="Chien entrain de se faire sécher au pulseur">
        <br>
        <img src="{{ asset('images/Souvenir_7.svg') }}" alt="Chien entrain de se faire brosser"> <img src="{{ asset('images/Souvenir_8.svg') }}" alt="Chocho"> <img src="{{ asset('images/Chien_content.svg') }}" alt="Chien content">
        <br>
        <img src="{{ asset('images/Souvenir_10.svg') }}" alt="Chat en tonte"> <img src="{{ asset('images/Souvenir_11.svg') }}" alt="Chat entrain de prendre un bain"> <img src="{{ asset('images/Souvenir_12.svg') }}" alt="Chat entrain de se faire sécher">
    </ul>
    <ul>
        <p>Voici quelques photos prises durant les séances. Certaines d'entre elles ont immoralisé des moments marquants, notamment les comportements parfois surprenants de nos animaux.</p>
    </ul>


{% endblock %}
