<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% block header %}
            <header>
                <nav>
                    <ul>
                        <li><img src="logo.svg" alt="Logo Patoune" title="Logo Patoune"> </li>
                    </ul>
                    <ul>
                        <p><a href="{{ path('app_accueil') }}">Accueil</a></p>
                        <p><a href="#">Rendez-vous</a></p>
                        <p><a href="{{ path('app_services') }}">Services</a></p>
                        <p><a href="{{ path('app_galerie') }}">Galerie</a></p>
                        <p><a href="{{ path('app_actualite') }}">Actualité</a></p>
                    </ul>
                </nav>
            </header>
        {% endblock %}
            {% block footer %}
                <footer>
                    <nav>
                        <ul>
                            <h1>Contact</h1>
                            <img src="{{ asset('images/Contact.svg') }}" alt="Contact">
                            <br>
                            <img src="{{ asset('images/Cat.svg') }}" alt="Cat icône">
                            <img src="{{ asset('images/dog.svg') }}" alt="Dog icône">
                            <img src="{{ asset('images/paw.svg') }}" alt="Paw icône">
                            <br>
                            <h1>Horaires</h1>
                            <img src="{{ asset('images/Horaires.svg') }}" alt="Horaires">
                        </ul>
                    </nav>
                </footer>
            {% endblock %}
        {% endblock %}
    </body>
</html>
